.container{
  width: 400px;
  height: 200px;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px 0px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white
}
.body{
  width: 100vw;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, #832fe0, #732fe3, #612fe6, #4930e9, #1f31ec);

}
button{
  width: 100px;
  height: 40px;
  background-image: linear-gradient(to right bottom, #1424c4, #3e26cb, #5829d2, #6f2cd9, #832fe0);
  color: white;
}
button:hover{
  background-image: linear-gradient(to right bottom, #832fe0, #732fe3, #612fe6, #4930e9, #1f31ec);
}
.clock{
  font-size: 40px;
  font-weight: 800;
}